<div class="signin text-center">
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="inputEmail" class="sr-only">Nombre de Usuario</label>
        <input type="username" id="inputEmail" class="form-control" placeholder="Nombre de Usuario" required autofocus #username="ngModel" [(ngModel)]="user.username" name="username">

        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required #password="ngModel" [(ngModel)]="user.password" name="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
</div>

