<div *ngIf="purchase.status == purchaseStatus.REQUEST_STATUS">  
    <div class="modal-header">
        <h2>Enviar Pedido</h2>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
              <dl class="row">
                <dt class="col-sm-3">Oficina</dt>
                <dd class="col-sm-9">{{purchase.office.name}}</dd>

                <dt class="col-sm-3">Usua. S.</dt>
                <dd class="col-sm-9">{{purchase.user.username}}</dd>
              </dl>
            </div>
            <div class="col">
                <dl class="row">
                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9"><span class="badge badge-secondary">{{ purchase.status }}</span></dd>

                <dt class="col-sm-3">Fecha S.</dt>
                <dd class="col-sm-9">{{purchase.request_date}}</dd>
              </dl>
            </div>
        </div>
        <app-purchase-item [purchase]="purchase" [purchaseItems]="purchaseItems"></app-purchase-item>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger float-right" (click)="cancelPurchase()">Anular Pedido</button>
        <button type="button" class="btn btn-outline-info float-right" (click)="printPurchase()">Imprimir Solicitud</button> 
        <button type="button" class="btn btn-outline-success float-right" (click)="dispatchPurchase()">Despachar Pedido</button>
    </div>
</div>
<div *ngIf="purchase.status ==  purchaseStatus.DISPATCHED_STATUS || purchase.status == purchaseStatus.CANCELED_STATUS">
    <app-purchase-detail [purchase]="purchase"></app-purchase-detail> 
</div>