<div class="row">
    <div class="col-11">
        <h2>Mis pedidos</h2>
        <div class="table-responsive">
          <table class="table table-borderless purchases">
            <thead>
              <tr>
                <th>Pedido Id</th>
                <th>Oficina</th>
                <th>Creado en</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha de Anulado</th>
                <th>Fecha de Despacho</th>
                <th>Usuario (Respuesta)</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
            <tr class="purchae-row"  *ngFor="let purchase of purchases" [class.selected]="purchase === selectedPurchase" (click)="onSelect(purchase)">
                <td>{{purchase.id}}</td>
                <td>{{purchase.office.name}}</td>
                <td>{{purchase.created_at | date:'dd-MM-yyyy'}}</td>
                <td>{{purchase.request_date | date:'dd-MM-yyyy' }}</td>
                <td>{{purchase.canceled_date | date:'dd-MM-yyyy' }}</td>
                <td>{{purchase.dispatch_date | date:'dd-MM-yyyy'}}</td>
                <td><span *ngIf="purchase.user_response">{{purchase.user_response.username}}</span></td>
                <td>
                    <span class="badge" [class.badge-light]="purchase.status == purchaseStatus.EDITION_STATUS || purchase.status == purchaseStatus.REQUEST_STATUS" 
                                        [class.badge-success]="purchase.status == purchaseStatus.DISPATCHED_STATUS"
                                        [class.badge-danger]="purchase.status == purchaseStatus.CANCELED_STATUS">
                          {{purchase.status}}
                    </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ngb-pagination [collectionSize]="totalCount" [maxSize]="5" [(page)]="page" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center"></ngb-pagination>
    </div>
    <div class="col-1">
        <div class="purchase-add">
            <button type="button" class="btn btn-primary btn-circle btn-xl" (click)="onNew()"><i class="material-icons">add</i></button>
        </div>
    </div>
</div>
    


